<div class="container">
    <div class="register-box">
        <h2>Registro</h2>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="nombre">Nombre:</label>
                <input id="nombre" type="text" formControlName="nombre">
                <div *ngIf="hasError('nombre', 'required')">El nombre es requerido.</div>
                <div *ngIf="hasError('nombre', 'minlength')">El nombre debe tener al menos 10 caracteres.</div>
                <div *ngIf="hasError('nombre', 'pattern')">El nombre solo debe contener letras.</div>
            </div>

            <div>
                <label for="correo">Correo:</label>
                <input id="correo" type="email" formControlName="correo">
                <div *ngIf="hasError('correo', 'required')">El correo es requerido.</div>
                <div *ngIf="hasError('correo', 'pattern')">El correo debe tener el formato live.uleam.edu.ec
                </div>
            </div>

            <div>
                <label for="carrera">Carrera:</label>
                <input id="carrera" type="text" formControlName="carrera">
                <div *ngIf="hasError('carrera', 'required')">La carrera es requerida.</div>
                <div *ngIf="hasError('carrera', 'minlength')">La carrera debe tener al menos 10 caracteres.</div>
                <div *ngIf="hasError('carrera', 'pattern')">La carrera solo debe contener letras.</div>
            </div>

            <div>
                <label for="telefono">Teléfono:</label>
                <input id="telefono" type="tel" formControlName="telefono">
                <div *ngIf="hasError('telefono', 'required')">El teléfono es requerido.</div>
                <div *ngIf="hasError('telefono', 'pattern')">El teléfono solo debe contener números.</div>
            </div>

            <div>
                <label for="contrasena">Contraseña:</label>
                <input id="contrasena" type="password" formControlName="contrasena">
                <div *ngIf="hasError('contrasena', 'required')">La contraseña es requerida.</div>
                <div *ngIf="hasError('contrasena', 'minlength')">La contraseña debe tener al menos 6 caracteres.</div>
                <div *ngIf="hasError('contrasena', 'pattern')">La contraseña debe contener al menos una letra mayúscula,
                    una
                    minúscula, un número y un carácter especial.</div>
            </div>

            <div>
                <label for="confirmarContrasena">Confirmar Contraseña:</label>
                <input id="confirmarContrasena" type="password" formControlName="confirmarContrasena">
                <div *ngIf="hasError('confirmarContrasena', 'required')">Confirmar la contraseña es requerido.</div>
                <div *ngIf="registroForm.hasError('passwordMismatch')">Las contraseñas no coinciden.</div>
            </div>

            <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
        </form>
        <p>¿Ya tienes cuenta? <a  href="/login">Inicia Sesión</a></p>
    </div>
</div>